html,
body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: #2C2C2C;
}

*::-webkit-scrollbar {
    display: none;
}

#main {
    width: 80%;
    height: 75%;
    border-radius: 25px;
    background: #FFF;
    margin: auto;
    margin-top: 2.5%;
}

#subtitle {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-family: Inter;
    font-weight: 800;
    display: inline-flex;
    border-radius: 1000px;
    background: #A51919;
    text-align: center;
    padding: 10px 25px;
}

h1 {
    text-align: center;
    font-family: Inter;
    font-weight: 900;
    position: absolute;
    font-size: 300%;
}

#title1 {
    color: #2C2C2C;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

#title2 {
    color: #A51919;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

button {
    transition: all 0.25s;
    position: absolute;
    bottom: 37%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    border: 0;
    border-radius: 32px;
    background: #A51919;
    box-shadow: 0px 7.5px 7.5px 0px rgba(165, 25, 25, 0.25);color: #FFF;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
}

#button-arrow {
    font-size: 8px;
    background-color: rgba(256, 256, 256, 0.5);
    padding: 6px 7px;
    border-radius: 50%;
}

button:hover {
    transition: all 0.25s;
    position: absolute;
    bottom: 37.5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 40px;
    border: 0;
    border-radius: 32px;
    background: #C63737;
    box-shadow: 0px 10px 10px 0px rgba(198, 55, 55, 0.25);
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    cursor: pointer;
}

#seat {
    position: absolute;
    bottom: 2.5%;
    left: 50%; right: 50%;
    transform: translateX(-50%);
    inline-size: 25%;
}

#light {
    transition: all 2s;
    position: absolute;
    bottom: 2.5%;
    left: 50%; right: 50%;
    transform: translateX(-50%);
    inline-size: 50%;
    opacity: 1;
}

#curtain {
    position: absolute;
    bottom: 510px;
    left: 0; top: 0;
    inline-size: 100%;
    pointer-events: none;
    width: 100%;
}

a {
    text-decoration: none;
}

#nametag {
    position: relative;
    left: 94%;
    color: #FFF;
    font-family: Inter;
    font-weight: 300;
    font-size: small;
}